@import "tailwindcss";


:root {
  --background: #ffffff;
  --primary: #02AFC7;
  --secondary-1: #FBD121;
  --secondary-2: #ffec9f;
  --text-1: #000000;
  --text-2: #666666;
}


@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary-1: var(--secondary-1);
  --color-secondary-2: var(--secondary-2);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);

  --font-family-opensans: var(--font-opensans);
  --font-family-raleway: var(--font-raleway);
  --font-family-roboto: var(--font-roboto);
}

body {
  background: var(--background);
}
