@import "tailwindcss";


:root {
  --background: #ffffff;
  --primary: #02AFC7;
  --secondary-1: #FBD121;
  --secondary-2: #ffec9f;
  --text-1: #181d1f;
  --text-2: #666666;
  --light-border: #D9D9D9;
}


@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary-1: var(--secondary-1);
  --color-secondary-2: var(--secondary-2);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-light-border: var(--light-border);

  --font-family-opensans: var(--font-opensans);
  --font-family-raleway: var(--font-raleway);
  --font-family-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  font: var(--font-family-roboto);
  color: var(--color-text-1)
}

button:hover {
  cursor: pointer
}
